main {
  padding-top: 2rem;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid #0e4f1f;
  border-left: none;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}
.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
  position: relative;
}

.package__subtitle {
  color: #979797;
}

.package__badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.2rem;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
}

.package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.2rem;
  color: #0e4f1f;
  background: white;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #0e4f1f;
  text-align: right;
}

#free:hover,
#free:active {
  border-left-color: #ff5454;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package_subtitle {
  color: #bbb;
}

.clearfix {
  clear: both;
}

.background {
  background: url('../images/plans-background.jpeg') center/cover;
  filter: grayscale(40%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
